 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web Skills</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>Web development project utilizing HTML, CSS, and JavaScript for creating responsive and interactive websites. Experience with front-end development, including experience with libraries and frameworks such as jQuery and Bootstrap</p>
    </div>
    <div class="tech">
      <h2>Software Development</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Experience in working with both C and Python, with a focus on developing efficient and reliable software using object-oriented programming and data structures. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-electron-original colored"></i>
      <p>"Hands-on experience in Linux, Git, and other software development tools and technologies. Strong proficiency in utilizing command-line interface, version control, and other related tools for software development.</p>
    </div>
</div>
